- if action_name == "search"
  - content_for :title, "Searching for ‘#{params[:q]}’"
- elsif @date
  - content_for :title, "Tweets from #{l(@date, format: :month_and_year)}"
- elsif @user.present?
  - content_for :title, "@#{@user.name}'s tweets"
%nav#navigation
  .wrapper
    - if @oldest.present? && @newest.present?
      .timeline
        %form
          %select{ name: "month" }
            %option Recent
            - tweet_dates(@oldest, @newest).each do |year, dates|
              %optgroup{ label: year }
                - dates.each do |date|
                  %option{ value: l(date, format: :internal), selected: date == @date }= date.strftime("%B")
          %input{type: 'submit'}
    - if @statuses.any? || is_search?
      .search
        = form_tag search_path, method: :get do
          = search_field_tag :search, params[:q], results: '5', name: 'q'
          = submit_tag "Search"

%header

  - cache @user do
    .profile
      = link_to @user.twitter_url, class: "avatar" do
        = image_tag @user.avatar_url, alt: @user.name
      %h1= @user.display_name
      %small= "@#{@user.name}"

%section{:role => "main"}

  - if @statuses.any?
    - if is_search?
      %h2
        = link_to "← Home", root_path
        |
        = "Results for ‘#{params[:q]}’"
      %ul
        = list_of @statuses do |status|
          = render status
    - else
      - cache @cache_name do
        %ul
          = list_of @statuses do |status|
            = render status
  - else
    %h2
      - if is_search?
        = link_to "← Home", root_path
        |
        = "No results found for ‘#{params[:q]}’"
      - else
        No Tweets have been imported yet.

%footer
  .footer-icons &#9670; &#9670; &#9670;