%nav#navigation
  .wrapper
    .timeline
      %form
        %select{name: 'month'}
          %option Recent
          %optgroup{label: '2012'}
            %option{value: ''} August
            %option{value: ''} July
            %option{value: ''} June
            %option{value: ''} May
            %option{value: ''} April
            %option{value: ''} March
            %option{value: ''} February
            %option{value: ''} January
          %optgroup{label: '2011'}
            %option{value: ''} December
            %option{value: ''} November
            %option{value: ''} October
            %option{value: ''} September
            %option{value: ''} August
            %option{value: ''} July
            %option{value: ''} June
            %option{value: ''} May
            %option{value: ''} April
            %option{value: ''} March
            %option{value: ''} February
            %option{value: ''} January
          %optgroup{label: '2010'}
            %option{value: ''} December
            %option{value: ''} November
            %option{value: ''} October
            %option{value: ''} September
            %option{value: ''} August
            %option{value: ''} July
            %option{value: ''} June
            %option{value: ''} May
            %option{value: ''} April
            %option{value: ''} March
            %option{value: ''} February
            %option{value: ''} January
        %input{type: 'submit'}

    .search
      %form
        %input{type: 'search', results: '5', name: 'search'}
        %input{type: 'submit'}

%header

  .profile
    = link_to current_user.twitter_url, class: "avatar" do
      = image_tag current_user.avatar_url, alt: current_user.name
    %h1= current_user.display_name
    %small= "@#{current_user.name}"
    %small= link_to "Sign out", sessions_path, method: :delete

%section{:role => "main"}

  - if @statuses.any?
    %ul
      = list_of @statuses do |status|
        = render status
  - else
    %ul
      %li
        No Tweets have been imported yet.

%footer
  .footer-icons &#9670; &#9670; &#9670;