- if action_name == "search"
  - content_for :title, "Searching for ‘#{params[:q]}’"
- elsif @date
  - content_for :title, "Tweets from #{l(@date, format: :month_and_year)}"
%nav#navigation
  .wrapper
    - if @statuses.any? && !is_search?
      .timeline
        %form
          %select{ name: "month" }
            %option Recent
            - tweet_dates(@oldest, @newest).each do |year, dates|
              %optgroup{ label: year }
                - dates.each do |date|
                  %option{ value: date.strftime("%Y-%m"), selected: date == @date }= date.strftime("%B")
          %input{type: 'submit'}
    - if is_search?
      = link_to "Home", root_path
    - if @statuses.any? || is_search?
      .search
        = form_tag search_path, method: :get do
          = search_field_tag :search, params[:q], results: '5', name: 'q'
          = submit_tag "Search"

    .sign-out
      - if current_user
        = link_to "Sign out", sessions_path, method: :delete
      - else
        = link_to "Sign in", "/auth/twitter"

%header

  - cache @user do
    .profile
      = link_to @user.twitter_url, class: "avatar" do
        = image_tag @user.avatar_url, alt: @user.name
      %h1= @user.display_name
      %small= "@#{@user.name}"

%section{:role => "main"}

  - if @statuses.any?
    - if is_search?
      %p.results_found= "Showing results for ‘#{params[:q]}’"
    %ul
      = list_of @statuses do |status|
        = render status
  - else
    %ul
      %li
        - if is_search?
          = "No results found for ‘#{params[:q]}’"
        - else
          No Tweets have been imported yet.

%footer
  .footer-icons &#9670; &#9670; &#9670;